@font-face {
  font-family: "PublicSans";
  src: url("../fonts/PublicSans/PublicSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PublicSans Light";
  src: url("../fonts/PublicSans/PublicSans-Light.ttf") format("truetype");
  font-display: swap;
}

:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  font-size: 14px;
}

html {
  height: 100%;
}

body {
  color: var(--grayishBlue);
  font-family: "PublicSans";
  margin: 0;
  min-height: 100%;
  text-align: center;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  line-height: 1.7rem;
  letter-spacing: 0.25px;
}

main {
  display: flex;
  flex-direction: column;
}

button {
  outline-color: var(--grayishBlue);
}

.header {
  align-items: center;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 21px;
  position: fixed;
  width: calc(100% - 42px);
  z-index: 2;
}

.hamburger-button {
  background-color: transparent;
  border: 0;
  height: 20px;
  padding: 0;
  position: relative;
  width: 18px;
}

.hamburger-line {
  position: absolute;
  right: 0;
  width: 18px;
  height: 1px;
  border-radius: 1px;
  background-color: var(--grayishBlue);
}

.hamburger-line--top {
  top: 4px;
}

.hamburger-line--middle {
  top: 9px;
}

.hamburger-line--bottom {
  top: 14px;
}

.hamburger-button--active > .hamburger-line--middle {
  display: none;
}

.hamburger-button--active > .hamburger-line--top {
  transform: rotate(45deg) translate(4px, 4px);
}

.hamburger-button--active > .hamburger-line--bottom {
  transform: rotate(-45deg) translate(3px, -3px);
}

.header > .request-button,
.nav {
  display: none;
}

.nav.nav--active {
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  left: 0;
  margin: 21px;
  padding: 21px 0;
  position: absolute;
  top: 62px;
  width: calc(100% - 42px);
}

.nav > ul {
  color: var(--darkBlue);
  line-height: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.backdrop {
  background-color: hsla(233, 8%, 62%, 0.9);
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.backdrop.backdrop--active {
  display: block;
}

.section:nth-of-type(odd) {
  background-color: var(--veryLightGray);
}

.section:nth-of-type(even) {
  background-color: var(--lightGrayishBlue);
}

.content {
  padding: 56px 21px;
}

.content > p {
  padding-bottom: 21px;
}

#intro-section > .content {
  padding-bottom: 84px;
  padding-top: 28px;
}

.banner {
  background-color: transparent;
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 32px;
  display: flex;
  justify-content: center;
  padding: 0 27px;
}

.banner-image {
  max-width: 100%;
}

.title {
  color: var(--darkBlue);
  font-family: "PublicSans Light";
  font-weight: normal;
  margin: 0;
}

.request-button {
  background-image: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
  border: none;
  border-radius: 21px;
  color: var(--veryLightGray);
  padding: 14px 35px;
  max-width: 162px;
}

.icon {
  margin: 7px 0 14px;
}

.article {
  background-color: var(--white);
  border-radius: 4px;
  text-align: left;
  margin: 28px 0;
}

.article-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  max-width: 100%;
}

.article-content {
  padding: 20px;
}

.article-content > p {
  letter-spacing: 0.1px;
}

.author {
  font-size: 0.8rem;
}

.footer {
  background-color: var(--darkBlue);
  padding: 28px 91px;
}

ul.footer-links {
  line-height: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section {
  padding-bottom: 28px;
}

#footer-section-social-icons {
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  font-size: 0.8rem;
}

@media screen and (min-width: 992px) {
  :root{
    font-size: 18px;
  }

  body {
    text-align: left;
    overflow-x: hidden;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    letter-spacing: 0.1px;
  }

  .hamburger-button {
    display: none;
  }

  .header {
    justify-content: space-between;
    padding: 9px 126px;
    position: relative;
    width: initial;
  }

  .request-button:hover,
  .navigation-item:hover {
    cursor: pointer;
  }

  .request-button,
  nav {
    font-size: 0.75rem;
  }

  .header > .request-button,
  .nav {
    display: initial;
  }

  .nav > ul {
    color: var(--grayishBlue);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .navigation-item {
    margin: 0 10px;
  }

  #intro-section {
    display: flex;
    flex-direction: row-reverse;
    min-height: 620px;
  }

  #intro-section > .banner {
    width: 58%
  }

  .content {
    padding: 90px 126px;
  }

  .section.content > p {
    max-width: 65%;
  }

  #intro-section > .content {
    padding: 0 36px 0 126px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42%
  }

  .banner {
    background-image: url("../images/bg-intro-desktop.svg");
    background-position-y: -245px;
    background-position-x: -66px;
    background-size: 180%;
    padding: 0;
    position: relative;
  }

  .banner-image {
    max-width: 105%;
    position: absolute;
    top: -120px;
    right: -120px;
  }

  .cards {
    display: flex;
    justify-content: space-between;
  }

  .card {
    max-width: 22%;
  }

  .card > .title {
    margin: 18px 0;
  }

  .article-content > .title {
    font-size: 1rem;
  }

  .card > p {
    font-size: 0.75rem;
  }

  .article-image-container {
    max-height: 150px;
    overflow-y: hidden;
  }

  .author {
    font-size: 0.6rem;
  }

  .article-content > p {
    font-size: 0.65rem;
    line-height: 1.3rem;
  }

  .footer {
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr;
    grid-template-rows: 60px 40px;
    grid-auto-flow: column;
    padding: 36px 126px;
  }

  #footer-section-social-icons {
    justify-content: space-between;
    /* align-items: flex-end; */
    max-width: 162px;
    padding: 0;
  }

  #footer-section-social-icons > img {
    max-height: 20px;
    max-width: 20px;
  }

  #footer-section-links {
    grid-row-end: span 2;
  }

  ul.footer-links {
    color: var(--lightGrayishBlue);
    display: grid;
    font-size: 0.75rem;
    line-height: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
  }

  #footer-section-invite {
    text-align: right;
  }
}
